name: publish.yml
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  package:
    name: Build Package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      # Setup Maven with OAuth token
      - name: Setup Maven with OAuth
        id: setup-maven-oauth
        uses: curityio/curity-maven-gh-action@v1
        with:
          client-secret: ${{ secrets.CURITY_CLI_CLIENT_SECRET }}

      - name: Publish package
        run: mvn deploy ${{ steps.setup-maven-oauth.outputs.maven-deploy-args }}
